header.header.active(data-header)
  .container
    a.logo(href="/")
      img(src="/img/logo.svg" width="110" height="53" alt="unigine home")

    nav.navbar(data-navbar)
      ul.navbar-list
        li.navbar-item
          a.navbar-link(href="/") Home
        li.navbar-item
          a.navbar-link(href="/about") About
        li.navbar-item
          a.navbar-link(href="/projects") My Works
        li.navbar-item
          a.navbar-link(href="/market-place") Market place
        li.navbar-item
          a.navbar-link(href="/blog") Blog

    a.btn(href="/contact") Contact

    button.nav-toggle-btn(aria-label="toggle menu")
      span.line.line-1
      span.line.line-2
      span.line.line-3

