extends admin-base

block content
  main
    article
      .error#error
        h1.h1 Oops! 
        h2.h2 404 - PAGE NOT FOUND
        p We're sorry, but we encountered an error. Please try again later.
        a.btn(href="/" type="button" class="btn") Back to Home
