extends login-base

block content
  body(id="admin-body")
    #admin-row
      .container--1
        h1 Forgot Password
        form.form-group(id="forgotPasswordForm")
          .forget-pass
            label(for="email") Email Address
            input#email(type="email" name="email" placeholder="Enter your email address" required)
          .forget-pass
            button(type="submit") Reset Password

          p.goIn
            | Don't have an account?
            a(href='/signup') Sign up

