extends login-base

block content
  main(class="admin-main")
    section.admin-login-pass
      h1 Login Pass
      form.login-pass 
        input(id="otp-input1" type="text" maxlength="1" autofocus) 
        input(id="otp-input2" type="text" maxlength="1") 
        input(id="otp-input3" type="text" maxlength="1") 
        input(id="otp-input4" type="text" maxlength="1") 
        input(id="otp-input5" type="text" maxlength="1") 
        input(id="otp-input6" type="text" maxlength="1") 


    section.log-pass(id="getIn")
      div(id="getIn-inner")
        form(class="new-content-form" id='form--login')
          h2 Log in

          .post-group
            label(for="email") Email Address
            input(type="email" id="email" required)

          .post-group
            label(for="password") Password
            input(type="password" id="password" required)
            button(type="button" id="showPassword" class="toggle-password") Show

          .post-group
            button(type="submit") Login

          p.goIn
            | Don't have an account? 
            a(href="/signup") Register

        .forgot-password
          a(href="/forget-password") Forgot Password?

  script(src="/js/script.js")
